<% layout("layout/boilerplate") %>

 
     <h2><%= campgroundId.title %></h2>
    <h2><%= campgroundId.location %></h2>
    <img src="<%= campgroundId.image %>" alt="">
    <p><%= campgroundId.description %></p>
    <p><a href="/campgrounds/<%=campgroundId._id%>/edit">Edit</a></p>
    <p>
      <form action="/campgrounds/<%=campgroundId._id%>?_method=DELETE" method="POST">
        <button>Delete</button>
      </form>
    </p>
  
 
